/* css only take comment like this */
/* css does not take # or // as comment! :( */

BODY {
	font-family: times-new-roman, serif;
	/*font-family: helvetica, arial, lucida sans, sans-serif;*/
	background-color:  #ccc;      /* ddc = very light gray, nah */
        /*background-color: #CCCCCC;   /* ccc = gray */
	/*text: blue;*/

}

H1, H2, H3, H4 {
	color: green;
	padding: 	0.1em;
	margin-top: 	0.2em;
	margin-bottom: 	0.4em;
	font-family: helvetica, arial, lucida, sans-serif;
}



H1 {
	background-color: #BBF0BB;
	font-size: 	170%;
	font-weight: 	bolder;
	text-transform: uppercase;
	text-align: 	center;
	border-style: 	solid;
; list-style-type: decimal
}

H2 {
	background-color: 	#D0F0D0;
	font-size: 		150%;
	font-variant: 		small-caps;
	/* text-transform: 	uppercase; */
	text-transform: 	capitalize;
; list-style-type: decimal
}

H3 {
	background-color: #DEF0DE;
	font-size: 	140%;
	font-style: 	italic;
; list-style-type: decimal
}

H4 {
	font-size: 120%;
	color: green;
}

H5, H6 {
	color: blue; 
	padding: 	0.1em;
	margin-top: 	0.1em;
	margin-bottom: 	0.1em;
	padding-top:	0.2em;
	padding-bottom:	0.2em;
	/* font-family: helvetica, arial, lucida sans, sans-serif; */
}


H5 {	
	font-size: 112%;  
	font-variant: 
	small-caps; 
}
H6 {	
	font-size: 106%;  
}

/*
  need to add sub-selector to each... which is tedious
*/
H1 A:link, H2, H3, H4, H5 A:link {
    text-decoration: none;
	/* background-color: pink; */
}

em      {	color: darkblue;    }
strong  { 	color: red;     }



A:link {
	color: #36F;
}

A:visited {
	color: #96C;
}
A:hover {
	color: red;
        background-color: yellow;
}

A:active {
	color: #F63;
}

TR.qandadiv TD {
	padding-top: 1em;
}

TR.question {
	color: #33C;
	font-weight: bold;
}

TR.question TD {
	padding-top: 1em;
}


DIV.sig {
	text-align: 	right;
	font-size: 	70%;
	font-style:	italic;
}

DIV.ctr {
        text-align:     center;
        font-size:      90%;
}


DIV.variablelist {
	padding-left: 2em;
	color: #33C;
}


DIV.navhead {
	font-size: 80%;
}


DIV.mono,  #mono li, #mono ol li,  #mono ul li  {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

DIV.note, DIV.warning, DIV.caution, DIV.tip, DIV.note, DIV.important {
	border: 	dashed 1px;
	margin-left: 	4em;
	margin-right: 	4em;
	margin-top:	2ex;
	margin-bottom:	2ex;
	padding-left: 	0.5em;
	padding-right:	0.5em;
	width: 		80%;
	background-color: #EEF;
}


TABLE.t12 {
	border: 	dashed 1px;
	margin-left: 	4em;
	margin-right: 	4em;
	margin-top:	2ex;
	margin-bottom:	2ex;
	padding-left: 	0.5em;
	padding-right:	0.5em;
	width: 		80%;
	background-color: #EEF;
}

TABLE.t12 th {
	text-align: 	left;
	font-style:	italic;
	font-variant: 	small-caps;
}

TT  {   color: green; }

/* PRE { 	color: #444; } */
PRE { 	color: #347 }

/* PRE.cmd, PRE.code, PRE.programlisting, PRE.screen  PRE.cf { */
PRE.cmd, PRE.code, PRE.programlisting, PRE.screen, PRE.cf {
	/*//border: 	#630 1px dashed; */
	border: 	#630 1px solid;
	color: 		#630;
	padding-left:  	0.5em;
	background-color: lightgray;
}

PRE.cmd {
	border:		none;
	color: 		green;
}

PRE.screen {
	/*
        //background-color: #FFD;
	//color:  	#0B8;
	//background-color: #000;
	//color:   	#CC0;
        */
        background-color: #333;
	color:   	yellow;
	padding-top:	0.5em;
	padding-bottom:	0.5em;
	padding-left:  	0.5em;
	margin-top:	0.5em;
	margin-bottom:	0.5em;
	border: 	solid;
	border-width: 	3px;
}

.quote {
	color:  	#622;
	border-width: 	0px;
	margin-left:  	2em;
	padding-left:  0.5em;
}


/* 
   put vendor and materials copied from elsewhere inside a blocked box 
   so that copyright is obvious that it is not mine. 
*/
.quotebox {
	border: 		solid;
	border-width: 		1px;
	color:   		#622;
	background-color: 	#BBB;
	padding-left: 	 	0.5em;
	margin-left:            2em;
        width:                  95%;
	background-color:       #EEF;

	/*
        border: 	dashed 1px;
        // padding-top:		0.5em;
	// padding-bottom:	0.5em;
	// margin-top:		0.5em;
	// margin-bottom:	0.5em;
        */
}

/* comments */

.cf {
	border: 	#630 1px solid;
	color:  	#630;
	margin-left:  	4em;
	padding-left:  0.5em;
	/* hmm, this was originally PRE.cf, maybe it should just be DIV class cf, 
	   but works well like this now...
         */
}

/*
to do:
table class= 2cols, 3cols_shortParam, 3cols_longParam.... is it needed??
cf: configListing have line numbers in red, plus a vertical line, if possible.

screen to have a diff background color...
*/

